@{
    ViewData["Title"] = "Confirmacion";
}

@using NetBank.Core.Application.ViewModels.Payment;
@model ConfirmExpressAngBeneficiariePaymentViewModel;


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">¿Está seguro de realizar este pago?</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Payment" asp-action="ExpressAndBeneficiarieConfirm" method="post">
                        <div class="mb-3 d-flex align-items-center justify-content-between">
                            <span class="fw-5">Cuenta:</span>
                            <span class="form-control-plaintext ms-3">@Model.PagoConfirmacion.DestinationAccountNumber</span>
                        </div>
                        <div class="mb-3 d-flex align-items-center justify-content-between">
                            <span class="fw-5">Nombre:</span>
                            <p class="form-control-plaintext">@Model.Usuario.Name @Model.Usuario.LastName</p>
                        </div>
                        <div class="mb-3 d-flex align-items-center justify-content-between">
                            <span class="fw-5">Monto:</span>
                            <p class="form-control-plaintext ms-3">@Model.PagoConfirmacion.Amonut</p>
                        </div>

                        <input asp-for="PagoConfirmacion.Amonut" type="hidden" />
                        <input asp-for="PagoConfirmacion.DestinationAccountNumber" type="hidden" />
                        <input asp-for="PagoConfirmacion.OriginAccountNumber" type="hidden" />
                        <input asp-for="PagoConfirmacion.PaymentType" type="hidden" />
                        

                        <div class="d-flex justify-content-between">
                            <a class="btn btn-warning" asp-action="Index" asp-controller="Product">No</a>
                            <button type="submit" class="btn btn-success">Si</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

