@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var transacciones = ViewBag.Transacciones as NetBank.Core.Application.ViewModels.Transaction.TransaccionCountViewModel;
    var clientes = ViewBag.Clients as List<NetBank.Core.Application.ViewModels.User.UserViewModel>;
    var products = ViewBag.Products as List<NetBank.Core.Application.ViewModels.Product.ProductViewModel>;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto">
            
            <div class="row">

                <div class="card col-6 mt-3">
                    <div class="card-header">
                        <h4>Transacciones</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="card">
                            <div class="card-header">
                                <h5>Trasancciones totales</h5>
                            </div>
                            <div class="card-body">
                                <p>@transacciones?.TransactionTotals</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Trasancciones del dia de hoy</h5>
                            </div>
                            <div class="card-body">
                                <p>@transacciones?.TodayTransaction</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card col-6 mt-3">
                    <div class="card-header">
                        <h4>Pagos</h4>
                    </div>
                    <div class="card-body">

                        <div class="card">
                            <div class="card-header">
                                <h5>Pagos totales</h5>
                            </div>
                            <div class="card-body">
                                <p>1500</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Pagos del dia de hoy</h5>
                            </div>
                            <div class="card-body">
                                <p>300</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card col-6 mt-3">
                    <div class="card-header">
                        <h4>Clientes</h4>
                    </div>
                    <div class="card-body">

                        <div class="card">
                            <div class="card-header">
                                <h5>Clientes activos</h5>
                            </div>
                            <div class="card-body">
                                <p>@clientes?.Where(x => x.IsActive).Count()</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Clientes inactivos</h5>
                            </div>
                            <div class="card-body">
                                <p>@clientes?.Where(x => !x.IsActive).Count()</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card col-6 mt-3">
                    <div class="card-header">
                        <h4>Cuantos productos hay registrados</h4>
                    </div>
                    <div class="card-body">
                        <p class="fs-5 fw-bold text-dark">@products?.Count</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>